body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.title {
    text-align: center;
    color:black;
    font-size: 60px;
}

.title_h2 {
    text-align: center;
    color:black;
    font-size: 30px;
}

.box1 {
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 240px auto;
}

.box1 .b1 {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #ff0;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
}

.box1 .b1 .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition:0.5s;
    z-index: 1;
}

.box1 .b1:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.box1 .b1 .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    transition: 0.5s;
    color: #fff;
}
.box1 .b1:hover .icon .fa {
    font-size: 40px;
}

.box1 .b1 .content {
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}


.box1 .b1:hover .content {
    top: 120px;
}
.box1 .b1:hover .ct {
    top: 120px;
}

.box1 .b1 .ct {
    position: absolute;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 1px;
    box-sizing: border-box;
    transition: 0.5s;
}
.box1 .b1 .content h3 {
    margin: 15 0 10px;
    padding: 0;
}

.box1 .b1 .content p {
    margin: 0;
    padding: 0;
    
}